<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать товар</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="fragments/header.html :: header"></div>
<div th:insert="fragments/menu.html :: menu"></div>

<div class="page-title">Редактировать товар</div>

<form  th:object="${productForm}" th:action="@{/admin/productEdit/{id}(id=${productForm.getId()})}"
       method="POST">
  <table style="text-align:left;">
<!--    <tr>
      <td>Code *</td>
      <td style="color:red;">
        <input th:field="*{newProduct}" type="hidden" />
        <input th:if="${productForm.newProduct}" type="text"
               th:field="*{code}" />
        <th:block th:if="${!productForm.newProduct}">
          <span th:utext="${productForm.code}"></span>
          <input type="hidden" th:field="*{code}" />
        </th:block>
      </td>
      <td>
        <span class="error-message" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">..</span>
      </td>
    </tr>-->
    <tr>
      <td>Название</td>
      <td><input th:field="*{title}"  /></td>
      <td>
        <span class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">..</span>
      </td>
    </tr>

    <tr>
      <td>Цена</td>
      <td><input th:field="*{price}"  /></td>
      <td>
        <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
      </td>
    </tr>

      <tr>
          <td>Кол-во</td>
          <td><input th:field="*{amount}"  /></td>
          <td>
              <span class="error-message" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">..</span>
          </td>
      </tr>

      <tr>
          <td>Дата и время мероприятия</td>
          <td><input type="datetime-local" th:field="*{dateOfEvent}"  /></td>
          <td>
              <span class="error-message" th:if="${#fields.hasErrors('dateOfEvent')}" th:errors="*{dateOfEvent}">..</span>
          </td>
      </tr>

      <tr>
          <td>Категория</td>
          <td>
              <select th:object="${productForm}" th:field="*{category}" id="category">
              <option th:each="category : ${productForm.getCategoryArray()}" th:value="${category}"
                      th:text="${category.name()}"></option>
              </select>
          </td>
      </tr>

    <tr>
      <td>Картинка</td>
      <td>
          <img class="product-image" width="150"
               th:src="@{/images/{imgName}(imgName=${productForm.getImageName()})}"/>
      </td>
      <td> </td>
    </tr>

      <tr>
          <td>Имя картинки</td>
          <td><input th:field="*{imageName}"  /></td>
          <td>
              <span class="error-message" th:if="${#fields.hasErrors('imageName')}" th:errors="*{imageName}">..</span>
          </td>
      </tr>

    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="submit" value="Подтвердить" />
      </td>
    </tr>
  </table>
</form>

<br/>
<br/>
<hr/>

<div th:insert="fragments/footer.html :: footer"></div>

</body>
</html>