<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Доступ запрещен</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>

<div th:insert="fragments/header.html :: header"></div>
<div class="m" th:insert="fragments/menu.html :: menu"></div>

<div class="page-title">Доступ Запрещен!</div>
<h3 style="color:red;">К сожалению, у вас нет прав для просмотру этой страницы(</h3>

<br/>
<br/>
<hr/>

<div th:insert="fragments/footer.html :: footer"></div>

</body>
</html>