<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Корзина</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div th:insert="fragments/header.html :: header"></div>
<div class="m" th:insert="fragments/menu.html :: menu"></div>

<div class="page-title">Моя корзина</div>

<th:block th:if="${isEmpty}">
  <h2>В данный момент корзина пуста!</h2>
  <a th:href="@{/}">Вперед за покупками!</a>
</th:block>

<th:block th:if="${!isEmpty}">
  <form method="POST" th:object="${bucket}" th:action="@{/user/bucket}">
  <div class="product-list">
    <div class="product-preview-container"
         th:each="bucketItem, varStatus: ${bucket.getBucketItems()}">
      <ul>

        <li style="text-align: center">
          <img class="product-image"
               th:src="@{/images/{imgName}(imgName=${bucketItem.product.getImgName()})}" />
        </li>

        <li>Название: <span th:utext="${bucketItem.getProduct().getTitle()}"></span></li>

        <li>Цена:
          <span class="price" th:utext="${bucketItem.getProduct().getPrice()} + 'р'"></span>
        </li>

        <li>Колличество:
          <span class="price" th:utext="${bucketItem.getQuantity()}"></span>
        </li>

        <li>
        <div th:switch="${bucketItem.getProduct().getAmount()}">
          <p th:case="${0}" style="color: red" >Последний билет!</p>
          <a th:case="*" th:href="@{/user/bucket/addProduct(productId = ${bucketItem.getProduct().getId()})}">
            Добавить экземпляр
          </a>
        </div>
        </li>


        <li>
          <a th:href="@{/user/bucket/reduceProduct(productId = ${bucketItem.getProduct().getId()})}">
            Удалить экземпляр
          </a>
        </li>

        <li>Итог:
          <span class="subtotal"
                th:utext="${bucketItem.calculateTotalSum()} + 'р'">
                        </span>
        </li>
        <li>
          <a th:href="@{/user/bucket/removeProduct(productId = ${bucketItem.getProduct().getId()})}">
            Удалить товар
          </a>
        </li>
      </ul>
    </div>
  </div>

    <div style="clear: both"></div>
      <input class="button-update-sc" type="submit" value="Очистить корзину" />

    <a class="navi-item"
       th:href="@{/user/bucketConfirmation}">Оформить заказ</a>
    <a class="navi-item"
       th:href="@{/}">Продолжить покупки</a>
  </form>
</th:block>

<br/>
<br/>
<hr/>

<div th:insert="fragments/footer.html :: footer"></div>

</body>
</html>

<!--
th:name="|bucketItem[${varStatus.index}].quantity|"-->
